.container {
    margin-top: 8px;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}
.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 5px;
    > p {
        flex: 1;
        font-size: 1.4rem;
        font-weight: 700;
        color: #555;
        user-select: none;
    }
    > span {
        width: 14%;
        text-align: center;
        font-size: 1.4rem;
        color: #777;
    }
}

.shop {
    margin-top: 16px;
    padding: 16px;
    background-color: #fff;
    border-radius: 5px;
}
.shop-info {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 12px;

    > input {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
    > img {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
    > a {
        font-size: 1.4rem;
        color: var(--theme);
        user-select: none;
    }
}

.item {
    display: flex;
    align-items: center;
    transition: opacity 0.2s;
    padding: 12px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14%;
    }
    > input {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
    > img {
        width: 60px;
        height: 60px;
        background-color: #eeee;
    }
    > a {
        flex: 1;
        color: #777;
        padding-left: 12px;
        font-size: 1.2rem;
        line-height: 1.8rem;

        height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    .button {
        padding: 8px 16px;
        font-size: 1.2rem;
        font-weight: 600;

        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        color: #777;
        transition: opacity 0.2s;
        border-color: rgba($color: red, $alpha: 0.6);
        background-color: rgba($color: red, $alpha: 0.6);
        color: #fff;
        &:hover {
            cursor: pointer;
            background-color: red;
        }
    }
    .price {
        display: flex;
        flex-direction: column;
        > span {
            font-size: 1.2rem;
            color: #777;
            text-decoration: line-through;
            margin-right: 8px;
        }
        > strong {
            font-size: 1.4rem;
            color: #333;
        }
    }
    .total {
        font-size: 1.4rem;
        color: var(--strong-theme);
    }
}
.number-function {
    > button {
        background-color: #fff;
        transition: 0.2s background-color;
        border: 1px solid #777;
        height: 20px;
        width: 20px;
    }
    > button:hover {
        cursor: pointer;
        background-color: var(--dim-theme);
    }
    > input {
        width: 40px;
        height: 20px;
        border: 1px solid #777;
        border-right: transparent;
        border-left: transparent;
        text-align: center;
    }
    > span {
        margin-left: 8px;
        font-size: 1.2rem;
        color: #555;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 90px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 12px;
    background-color: #fff;
    border-top: 4px solid var(--dim-theme);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    > div {
        > span {
            font-size: 1.6rem;
            font-weight: 500;
            color: #777;
        }
        > strong {
            font-size: 1.8rem;
            color: var(--theme);
        }
    }
    > button {
        background-color: var(--theme);
        padding: 12px 20px;
        font-size: 1.8rem;
        color: #fff;
        transition: background-color 0.2s;
        &:hover {
            cursor: pointer;
            background-color: var(--strong-theme);
        }
    }
}
