.container {
    display: flex;
    background-color: #fff;
    width: 100%;
    max-width: var(--width);
    margin-top: 10px;
    min-height: 90px;
    border-radius: 4px;
}

.item {
    width: 90px;
    > div {
        margin: 18px auto 8px;
        > img {
            display: block;
            margin: 0 auto;
            width: 40px;
        }
    }
    > span {
        margin: 0 auto;
        font-size: 0.9rem;
        line-height: 1.2rem;
        height: 2.4rem;
        text-align: center;
        max-width: 80%;
        margin-bottom: 8px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
