.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.content {
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    width: 100%;
    max-width: 520px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.info {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
    color: #0d9488; // Teal
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    > p {
        font-weight: 700;
    }
    span {
        font-weight: 400;
        color: #999;
    }
}

.button {
    background-color: #0d9488;
    margin: 0 auto;
    display: block;
    color: white;
    padding: 12px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0f766e;
    }
}
